.footer {
  display: flex;
  justify-content: center;
  width: min(65ch, 100%);
  margin: 1rem auto;
  padding: 1rem 0;
}

.footer .copy {
  display: inline-block;
  font-size: 0.825rem;
  font-weight: 600;
  text-transform: uppercase;
  color: rgb(153, 153, 153);
  letter-spacing: 1px;
}
